<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyv.bbs_servlet.dao.RemarkMapper">
    <resultMap id="Remark" type="com.moyv.bbs_servlet.entity.Remark">
        <id column="remark_id" property="remarkId"/>
        <result column="post_id" property="postId"/>
        <result column="remark_account" property="remarkAccount"/>
        <result column="remark_content" property="remarkContent"/>
        <result column="remark_time" property="remarkTime" javaType="java.sql.Timestamp"/>
    </resultMap>
    <select id="selectById" resultMap="Remark">
        SELECT * FROM remark WHERE remark_id = #{remarkId}
    </select>
    <select id="selectByPostId" resultMap="Remark">
        SELECT * FROM remark WHERE post_id = #{postId}
    </select>

    <insert id="insertRemark" parameterType="com.moyv.bbs_servlet.entity.Remark">
        INSERT INTO remark (post_id, remark_account, remark_content, remark_time) VALUES(#{remark.postId}, #{remark.remarkAccount}, #{remark.remarkContent}, #{remark.remarkTime})
    </insert>

    <delete id="delRemark">
        DELETE FROM remark WHERE remark_id = #{remarkId}
    </delete>
</mapper>